<main class="container center">
    {{#if loggedIn}}
    <div id="searchBox">
        <input class="center" name="search" placeholder="Search for Friends!" id="search">
        <ul id="resultsList"></ul>
    </div>
    
    <div class="container">
        <h3>New Chat</h3>
        <input class="center" name="chatTitle" id="chatTitle" placeholder="New Chat title">
        <button class="btn" id="submitChat">Create Chat</button>
    </div>

    {{#if areThereChats}}
    {{#each chats as |chat|}}
    <a href="/chat/{{chat.id}}">
        <h3>{{chat.title}}</h3>
    </a>
    {{/each}}

    {{else}}
    <h2>Nothing... yet</h2>
    {{/if}}

    {{else}}
    <h1>Empty... Login?</h1>
    {{/if}}
</main>
<footer>

</footer>
{{#if loggedIn}}
<script>
    var sessionUserId = {{userId}};
</script>
<script src="/js/checkInput.js"></script>
<script src="/js/home.js"></script>
{{/if}}